:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2e2f42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: rgba(46, 47, 66, 0.4);
    --hero-background: #2E2F42;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}