body { font-family: 'roboto', sans-serif; 
background: #E5E5E5;
color: #434455; }
a { text-decoration: none; }

/* navigation */
.list {
    list-style: none
}
.link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-web { color: #4D5AE5;}
.logo-studio{ color: #2E2F42;}
.navigation-list { 
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42; }
.address{ font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.navigation-list:hover {
    color: #404BBF;
}
.address:hover {
    color: #404BBF;
}
.navigation-list:focus {
    color: #404BBF;
}
.address:focus {
    color: #404BBF;
}
/* hero */

.hero-title{font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;}
.hero-button {font-family: 'Roboto';
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-weight: 500;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer}
.hero-button:hover {background: #404BBF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;}
.hero-button:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* skills */

.skills-subtitle{font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;}
.skills-text{
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}

/* What are we doing */

.title{font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;}

/* Our Team */

.name{font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;}

.profession {
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;}

/* footer */
.footer-text{
background-color: #2e2f42;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;}